body{
  background-color: aqua;
}
h1{
  text-align: center;
}
p{
  font-size: medium;
  color: azure;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}
img{
  width: 400px;
  height: 400px;
  margin: 90px;
}
.cabecalho{
  background-color: blueviolet;
  display: flex;
}
.logoing{
  width: 300px;
}